<!DOCTYPE html>
<html>
<head>
  <title>PAD Grade calculator</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" id="theme-stylesheet">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>

      <style type="text/css">
        .mint-color {
          background: #78c2ad;
        }
        html,body{
    height: 100%
          background: #78c2ad;

}
        
      </style>
</head>
<body>

<div class="container-fluid mint-color">
<div class="container" style="background: white">
<!-- 
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">PAD Grade Calculator</li>
    </ol>
  </nav>
 -->

 <div class="jumbotron">
  <h1 class="display-4">PAD Grade Calculator</h1>
  <p class="lead">Distributed grade calculator based on gateway and services</p>
  <hr class="my-4">
  <p>Implementation is open-source. Feel free to use the website</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://github.com/mdiannna/PAD_GradeCalculator" role="button" target="_blank">Github page</a>
  </p>
</div>

  <!-- <h1>Hello!</h1> -->

<ul class="nav nav-tabs">
  
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#add_student_to_list">Add student to list</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#home">Put mark</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#profile">Get student calculated mark</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#students_list">Students list</a>
  </li>
</ul>



<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show pt-3 pb-3" id="add_student_to_list">
    <!-- TODO: add students to local storage -->

    <form>
      <div class="form-group">
        <label>Student name</label>
        <input type="text" class="form-control" placeholder="Student name" id="nume_prenume_add_student">
      </div>
      <div class="form-group">
        <label>Student group</label>
        <input type="text" class="form-control" placeholder="Student group" id="grupa_add_student">
      </div>
      
      <button class="btn btn-secondary" onclick="add_student()">Submit</button>

    </form>
  </div>

  <div class="tab-pane fade  pt-3 pb-3" id="home">

    <form>
      <div class="form-group">
        <label >Student name</label>
        <input type="text" class="form-control"  aria-describedby="textHelp" placeholder="Enter text">
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <label>Select type (teorie/practica)</label>
          <select class="select form-control">
            <option>teorie</option>
            <option>practica</option>
          </select>  
        </div>
        <div class="col-md-4 form-group">
          <label>Nr atestare</label>
          <input type="" name="" placeholder="Nr atestare" class="form-control">
        </div>
        <div class="col-md-4 form-group">
          <label>Nota atestare</label>
          <input type="" name="" placeholder="Nota atestare" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label >Nota examen</label>
        <input type="text" class="form-control"  aria-describedby="textHelp" placeholder="Nota examen">
      </div>
      


      <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
  </div>

  <div class="tab-pane fade" id="profile">
    <label>Select student</label>
    <select id="students_list_select" class="form-control">
      <option>-</option>
    </select>
    <br>
    <p><b>Nota atestare1:</b> 10</p>
    <p><b>Nota atestare2:</b> 10</p>
    <p><b>Nota examen:</b> 10</p>
  </div>

  <div class="tab-pane fade" id="students_list">
    <div id="students_list_div">List of students empty</div>

    <!-- TODO: show students list from local storage -->
  </div>

</div>
<br>

  <!-- </div> -->

<!-- </div> -->
<!-- <hr> -->
</div>

</div>
  <!-- Footer -->
<footer class="page-footer font-small blue pt-4 mint-color">
  <div class="container-fluid ">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: white">© 2020 Authors: Marusic Diana, Turcanu Ana, Diacenco Margareta
    FAF-171</a>
  </div>
  <!-- Copyright -->
</div>
<
</footer>

<!-- Footer -->
</body>
</html>